/*
Variables
 */

$grey-color: #a7a9ac;
$blue-font: #0266b3;
$question-background: #dff3fd;
$comment-secton-padding-bottom: 0.6em;
$comment-section-border: 10px solid white;

/*
Mixins
 */

@mixin display-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}

@mixin box-shadow ($horizontalLen, $verticalLen) {
	-webkit-box-shadow: $horizontalLen $verticalLen 8px -2px rgba(203,205,207,1);
	-moz-box-shadow: $horizontalLen $verticalLen 8px -2px rgba(203,205,207,1);
	box-shadow: $horizontalLen $verticalLen 8px -2px rgba(203,205,207,1);
}

@mixin column-bottom {
	@include display-flex;
	flex-direction: column;
	justify-content: flex-end;
}

@mixin dot($color) {
	content: '\25CF';
	font-size: 20px;
	position: absolute;
	bottom: -12px;
	color: $color;
}

@mixin line($color) {
	margin-bottom: 0.6em;
	width: 100%;
	margin-top: 50px;
	border-color: $color;
}

@mixin rotate-rect($degrees) {
	-webkit-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	transform: rotate($degrees);
}

/*
General purpose classes
 */

.display-flex {
	@include display-flex;
}

@import 'components/home/_home.scss';
@import 'components/single-question/_single-question.scss';
@import 'components/user-profile/_user-profile.scss';

/*
Main structure
 */

body {
	background-color: #ffe1ad;
	font-family: 'Kurale', 'Verdana', sans-serif;
}
