<div id="singleQuestion">
	<div ng-include="'app/components/user-profile/_user-profile.html'"></div>

	<header>
		<div class="container">
			<div class="row" id="headingRow">
				<div class="col-md-2 col-sm-1 col-xs-2">
					<input type="image" src="app/assets/img/arrow_left.png" alt="previous page"
					ui-sref="home" />
				</div>
				<div class="col-md-3 col-sm-4 col-xs-10">
					<div id="heading">
						<span>question</span>
						<input type="image" src="app/assets/img/button_plus.png" alt="add question" />
					</div>
				</div>
				<div class="col-md-5 col-sm-7 hidden-xs info">
					Last time discussed
					<span class="info-num">&nbsp;&nbsp;1&nbsp;&nbsp;</span>
					day ago
				</div>
				<div class="col-md-2 hidden-sm hidden-xs"></div>
			</div>
		</div>
	</header>
	<div id="discussionField" class="container">

		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
				<div class="row question-field">
					<div class="col-md-9 col-sm-9 col-xs-12">
						<div class="row question-row">
							<div class="col-md-2 col-sm-2 col-xs-2 op-picture">
								<img ng-src="{{ question.user.picture }}" data-toggle="modal" data-target="#myModal"
								ng-click="getUser(question.user.index)" />
							</div>
							<div class="col-md-10 col-sm-10 col-xs-10">
								<div>
									<span class="op-name" data-toggle="modal" data-target="#myModal"
										ng-click="getUser(question.user.index)">
										{{ question.user.name }}
									</span>
									<span class="question-statement">is asking:</span>
								</div>
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12 question-title">
								{{ question.title }}
							</div>
						</div>
						<div class="row text-row">
							<div class="col-md-2 col-sm-2 hidden-xs empty"></div>
							<div class="col-md-10 col-sm-10 col-xs-12 question-text">
								{{ question.content }}
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 more-options">
						<div class="row unfollow">
							unfollow
						</div>
						<div class="upvotes">
							<span>{{ question.upvotes | positive }}&nbsp;</span>
							<span class="upvote-text">
								{{ question.votesValue = question.upvotes >= 0 ? "upvote" : "downvote" }}
							</span>
							<span class="upvote-arrows">
								<a ng-click="question.upvotes = upvote(question.upvotes)"
									class="arrow-up">&#x25B2;</a>
								<a ng-click="question.upvotes = downvote(question.upvotes)"
									class="arrow-down">&#x25BC;</a>
							</span>
						</div>
					</div>
				</div>
				<div class="single-question-button">
					<button>
						<span>give</span>
						new answer
					</button>
				</div>

				<div class="comment-num">
					{{ question.comments.length }}&nbsp;&nbsp;
					<span>peers already answered {{ question.user.name }}</span>
				</div>

				<!-- main comment template start-->
				<div ng-repeat="comment in question.comments">
					<div class="row single-comment">
						<div class="col-md-9 col-sm-9 col-xs-12">
							<div class="row comment-main-content">
								<div class="col-md-2 col-sm-2 col-xs-2 comment-picture">
									<img ng-src="{{ comment.user.picture }}" data-toggle="modal" data-target="#myModal"
									ng-click="getUser(comment.user.index)"/>
								</div>
								<div class="col-md-10 col-sm-10 col-xs-10">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-10 comment-header">
											<span class="comment-name" data-toggle="modal" data-target="#myModal"
												ng-click="getUser(comment.user.index)">
												{{ comment.user.name }}
											</span>
											<span class="comment-statement">commented it</span>
											<span class="comment-dot">&bull;</span>
											<span class="comment-time">yesterday</span>
										</div>
										<div class="col-md-12 col-sm-12 comment-desktop-version">
											<p>
												{{ comment.content }}
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row comment-mobile-version">
								<p>
									{{ comment.content }}
								</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="upvotes">
								<span>{{ comment.upvotes | positive }}&nbsp;</span>
								<span class="upvote-text">
									{{ comment.votesValue = comment.upvotes >= 0 ? "upvote" : "downvote" }}
								</span>
								<span class="upvote-arrows">
									<a ng-click="comment.upvotes = upvote(comment.upvotes)"
										class="arrow-up">&#x25B2;</a>
									<a ng-click="comment.upvotes = downvote(comment.upvotes)"
										class="arrow-down">&#x25BC;</a>
								</span>
							</div>
						</div>
					</div>
					<div ng-if="!comment.comments" class="single-question-button">
						<button>
							<span>comment</span>
						</button>
					</div>

					<!-- sub comment template start -->
					<div ng-repeat="subcomment in comment.comments">
						<div class="row">
							<div class="col-md-offset-1 col-md-11 col-sm-offset-1 col-sm-11 col-xs-12">
								<div class="row single-comment nested-comment">
									<div class="col-md-9 col-sm-9 col-xs-12">
										<div class="row comment-main-content">
											<div class="col-md-2 col-sm-2 col-xs-2 comment-picture">
												<img ng-src="{{ subcomment.user.picture }}" data-toggle="modal"
												data-target="#myModal" ng-click="getUser(subcomment.user.index)" />
											</div>
											<div class="col-md-10 col-sm-10 col-xs-10">
												<div class="row">
													<div class="col-md-12 col-sm-12 col-xs-10 comment-header">
														<span class="comment-name" data-toggle="modal" data-target="#myModal"
															ng-click="getUser(subcomment.user.index)">
															{{subcomment.user.name}}
														</span>
														<span class="comment-statement">commented it</span>
														<span class="comment-dot">&bull;</span>
														<span class="comment-time">yesterday</span>
													</div>
													<div class="col-md-12 col-sm-12 comment-desktop-version">
														<p>
															{{subcomment.content}}
														</p>
													</div>
												</div>
											</div>
										</div>

										<div class="row comment-mobile-version">
											<p>
												You should check your feet daily for redness, caluses, or skin
												breakdown.
											</p>
										</div>

									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="upvotes">
											<span>{{ subcomment.upvotes | positive }}&nbsp;</span>
											<span class="upvote-text">
												{{ subcomment.votesValue = subcomment.upvotes >= 0 ? "upvote" : "downvote" }}
											</span>
											<span class="upvote-arrows">
												<a ng-click="subcomment.upvotes = upvote(subcomment.upvotes)"
													class="arrow-up">&#x25B2;</a>
												<a ng-click="subcomment.upvotes = downvote(subcomment.upvotes)"
													class="arrow-down">&#x25BC;</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-question-button">
							<button>
								<span>continue</span>
								discussion
							</button>
						</div>
					</div>
					<!-- sub comment template end -->
				</div>
				<!-- main comment template end -->


			</div>
			<div class="col-md-2"></div>
		</div>

	</div>
</div>
