/*
General purpose classes
 */
@media screen and (min-width: 768px) {
	.upvotes {
		padding-top: 10px;
		padding-right: 20px;
	}
}

.upvotes {
	@include display-flex;
	align-items: center;
	justify-content: flex-end;

	.upvote-text {
		font-style: italic;
		margin-right: 20px;
	}

	.upvote-arrows {
		color: $blue-font;
		@include display-flex;
		flex-direction: column;

		.arrow-up {
			&:hover {
				text-decoration: none;
				cursor: pointer;
			}
		}

		.arrow-down {
			&:hover {
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}

/*
Main structure
 */

#singleQuestion {

	@media screen and (max-width: 991px) {
		.container {
			width: 100%;
		}
	}

	@media screen and (min-width: 768px) {
		header {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	@media screen and (max-width: 767px) {
		header {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	header {
		background-color: #ffffff;

		#headingRow {
			@include display-flex;

			#heading {
				@include display-flex;
				align-items: center;
				justify-content: space-between;

				span {
					font-size: 32px;
					font-weight: bold;
					text-transform: uppercase;
				}
			}

			.info {
				font-style: italic;
				@include display-flex;
				justify-content: flex-end;
				align-items: flex-end;

				.info-num {
					font-style: normal;
				}
			}
		}
	}

	#discussionField {
		background-color: #fbfbfb;
		@include box-shadow(4px, 0);

		@media screen and (min-width: 768px) {
			.question-field {
				@include display-flex;
			}
		}

		.question-field {
			background-color: #ffffff;
			@include box-shadow(2px, 0);

			.question-row {
				background-color: $question-background;
				padding-top: 10px;
				padding-bottom: 10px;
				color: $blue-font;

				@media screen and (max-width: 767px) {
					.op-picture {
						padding-bottom: 5px;
					}
				}

				.op-picture {
					@include display-flex;
					justify-content: center;
					cursor: pointer;
				}

				.op-name {
					cursor: pointer;
				}

				.question-statement {
					font-size: 10px;
					color: $grey-color;
					text-transform: uppercase;
				}

				@media screen and (max-width: 767px) {
					.question-title {
						padding-top: 10px;
						text-align: center;
						border-top: 1px solid white;
					}
				}

				.question-title {
					font-style: italic;
					font-size: 17px;
				}
			}

			.text-row {
				@include display-flex;

				.empty {
					background-color: $question-background;
				}

				@media screen and (min-width: 768px) {
					.question-text {
						padding: 20px;
					}
				}

				@media screen and (max-width: 768px) {
					.question-text {
						padding: 10px;
						color: $grey-color;
					}
				}
			}

			@media screen and (min-width: 768px) {
				.unfollow {
					background-color: $question-background;
					height: 70px;
					justify-content: flex-end;
					padding-right: 60px;
				}
			}

			@media screen and (max-width:767px) {
				.more-options {
					@include display-flex;
					justify-content: space-between;
					padding-bottom: 20px;

					.unfollow {
						padding-left: 10px;
					}
				}
			}

			.more-options {

				.unfollow {
					color: $blue-font;
					@include display-flex;
					align-items: center;
				}
			}
		}

		.single-question-button {
			text-align: center;

			button {
				border: solid 1px #eeeeee;
				background-color: white;
				position: relative;
				top: -13px;
				padding: 3px 20px 3px 20px;
				width: 180px;

				span {
					text-transform: uppercase;
				}
			}
		}

		.comment-num {
			text-align: center;
			padding-top: 30px;
			padding-bottom: 20px;
			font-weight: 600;

			span {
				font-style: italic;
				font-weight: normal;
			}
		}

		.single-comment {
			@include box-shadow(2px, 0);

			&:not(.nested-comment) {
				@include box-shadow(0px, -4px);
			}

			@media screen and (min-width: 768px) {
				.comment-main-content {
					@include display-flex;

					.comment-picture {
						@include box-shadow(2px, 0);
					}
				}
			}

			@media screen and (max-width: 767px) {
				.comment-main-content {
					padding: 10px;
					@include display-flex;
					align-items: flex-end;
				}
			}

			.comment-main-content {

				.comment-header {
					padding-top: 10px;
					padding-bottom: 10px;

					.comment-name {
						color: $blue-font;
						cursor: pointer;
					}
					.comment-statement {
						color: $grey-color;
						text-transform: uppercase;
						font-size: 10px;
					}
					.comment-dot {
						color: $grey-color;
					}
					.comment-time {
						font-style: italic;
					}
				}

				.comment-picture {
					@include display-flex;
					justify-content: center;
					align-self: stretch;
					cursor: pointer;

					img {
						align-self: center;
					}
				}
			}

			.comment-mobile-version {
				border-top: 1px solid rgba(203,205,207,0.5);
				color: $grey-color;
				padding: 10px;
			}

			@media screen and (max-width: 767px) {
				.comment-desktop-version {
					display: none;
				}
			}
			@media screen and (min-width: 768px) {
				.comment-mobile-version {
					display: none;
				}
			}

			@media screen and (min-width: 768px) {
				&.nested-comment {
					margin-left: 20px;
				}
			}

			@media screen and (max-width: 767px) {
				&.nested-comment {
					border-left: 10px solid $grey-color;
				}
			}

			@media screen and (max-width: 767px) {
				.upvotes {
					padding-bottom: 15px;
				}
			}
		}
	}
}
