/*
Main structure
 */

#home {
	@media screen and (max-width: 767px) {
		header {
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	header {
		background-color: #ffffff;
		padding-top: 20px;
		padding-bottom: 20px;

		.container {
			@media screen and (min-width: 768px) {
				> .row {
					@include display-flex;

					#top-header {
						@include display-flex;
					}
				}
			}

			> .row {

				#top-header {

					@media screen and (max-width: 767px) {
						#title {
							justify-content: center;
						}
					}

					#title {
						@include display-flex;
						align-items: center;

						span {
							font-size: 32px;
							font-weight: bold;
							text-transform: uppercase;
						}
					}

					@media screen and (max-width: 991px) {
						#radioForm {
							@include display-flex;
							flex-direction: column;
							align-content: flex-start;

							.radio-inline {
								margin-left: 0;
							}
						}
					}

					@media screen and (max-width: 767px) {
						#radioForm {
							flex-direction: row;
							justify-content: center;
							padding-top: 10px;
						}
					}

					#radioForm {
						margin-left: auto;
						align-self: flex-end;

						label {
							padding-left: 35px;
							font-weight: bold;
						}
					}
				}

				#searchField {
					background-color: #fbfbfb;
					border-color: #eeeeee;
					margin-top: 15px;
				}

				@media screen and (max-width: 767px) {
					#searchButtonCol {
						.row {
							@include display-flex;
							flex-direction: column-reverse;

							.button-block {
								margin-bottom: 10px;
							}
						}
					}
				}

				#searchButtonCol {
					font-style: italic;
					@include column-bottom;

					@media screen and (min-width: 768px) {
						.row {
							margin-left: 10px;
						}
					}

					#recent {
						font-style: normal;
						text-decoration: underline;
						font-weight: bold;
						color: $grey-color;
					}

					#hot {
						font-style: normal;
						font-weight: bold;
						color: $blue-font;
					}

					.button-block {
						height: 34px;
						margin-top: 15px;
						color: $grey-color;
						border: solid 1px $grey-color;
						background-color: white;
						min-width: 100%;
						font-style: normal;
						font-weight: bold;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	#questions {
		background-color: #fbfbfb;
		@include box-shadow(4px, 0);

		.question-container {
			background-color: #ffffff;
			@include box-shadow(2px, 0);
			padding-bottom: 40px;

			.question-section {
				@include display-flex;
				background-color: $question-background;
				padding-top: 10px;
				padding-bottom: 20px;

				@media screen and (min-width: 768px) {
					.op-picture {
						@include display-flex;
						justify-content: center;
					}
				}

				.op-name {
					color: $blue-font;
				}

				.question-phrase {
					font-size: 10px;
					color: $grey-color;
					text-transform: uppercase;
				}

				.question-topic {
					color: $blue-font;
					font-style: italic;
					font-size: 17px;
				}
			}

			.comment-section {
				font-size: 10px;
				font-weight: bold;

				div.row > div {
					padding-left: 10px;
					padding-right: 10px;
				}

				.question-column {
					background-color: $question-background;
					@include column-bottom;
					align-items: center;
					padding-bottom: $comment-secton-padding-bottom;

					span {
						color: $grey-color;
						text-transform: uppercase;
					}

					.line {
						@include line($grey-color);
					}
				}

				@media screen and (max-width: 767px) {
					.more-column {
						background-color: #eeeeee;
						border-top: 1px solid white;
					}
				}

				@media screen and (min-width: 768px) {
					.more-column {
						border-left: $comment-section-border;
						margin-top: 30px;
					}
				}

				.more-column {
					@include column-bottom;
					align-items: center;
					justify-content: space-between;
					padding-bottom: $comment-secton-padding-bottom;
					font-size: 1.2em;

					span {
						&.num {
							padding-top: 40px;
						}

						&.more {
							font-style: italic;
							text-align: center;
						}
					}

					&:after {
						@include dot($grey-color);
					}
				}

				@media screen and (min-width: 768px) {
					.comment-column {
						border-left: $comment-section-border;
						margin-top: 30px;
					}
				}

				@media screen and (max-width: 767px) {
					.comment-column {
						border-left: 1px solid white;
						border-top: 1px solid white;
					}
				}

				.comment-column {
					@include column-bottom;
					align-items: center;
					background-color: #eeeeee;
					color: $grey-color;
					padding-top: 20px;
					padding-bottom: $comment-secton-padding-bottom;
					text-transform: uppercase;

					&:after {
						@include dot(inherit);
					}

					.line {
						@include line(inherit);
					}

					&.answered {
						&:after {
							@include dot(black);
							color: black
						}

						.line {
							@include line(black);
						}
					}
				}
			}

			@media screen and (max-width: 767px) {
				.question-info {
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}

			@media screen and (min-width: 768px) {
				.question-info {
					margin-top: 30px;
				}
			}

			.question-info {
				@include display-flex;
				flex-direction: column;
				justify-content: space-between;
				padding-left: 40px;

				span {
					font-style: italic;
				}
			}
		}

		#load-more {
			color: #e1173f;
			font-weight: bold;
			background-color: #ffffff;
			@include box-shadow(2px, 0);
			padding-top: 30px;
			padding-bottom: 35px;
		}
	}
}
