<div id="home">
	<div ng-include="'app/components/user-profile/_user-profile.html'"></div>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<input type="image" src="app/assets/img/arrow_left.png" alt="previous page" />
				</div>
				<div class="col-md-6 col-sm-7 col-xs-12">
					<div class="row" id="top-header">
						<span id="title">
							<span>Questions&nbsp;&nbsp;</span>
							<input type="image" src="app/assets/img/button_plus.png" alt="add question" />
						</span>
						<span id="radioForm">
							<label class="radio-inline">
								<input name="filter" value="my_shelf" type="radio" checked />
								My shelf
							</label>
							<label class="radio-inline">
								<input name="filter" value="all_questions" type="radio" />
								All questions
							</label>
						</span>
					</div>
					<div class="row">
						<input type="text" class="form-control" placeholder="Search questions" id="searchField"
						ng-model="searchInput" ng-keypress="$event.keyCode == 13 ? searchQuery() : null" />
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-12" id="searchButtonCol">
					<div class="row">
						<div class="pull-right">
							<span>Sort by:&nbsp;</span>
							<span id="recent">recent</span>
							<span>&nbsp;or&nbsp;</span>
							<span id="hot">hot</span>
						</div>
						<button class="button-block" ng-click="searchQuery()">Search</button>
					</div>
				</div>
				<div class="col-md-2 hidden-sm hidden-xs"></div>
			</div>
		</div>
	</header>

	<div class="container" id="questions">

		<!-- question template start -->

		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 question-container"
				ng-repeat="question in questions | filter:{ title: searchResult }">
				<div class="row">
					<div class="col-md-9 col-sm-12 col-xs-12">
						<div class="row question-section">
							<div class="col-md-2 col-sm-2 col-xs-2 op-picture">
								<img ng-src="{{ question.user.picture }}" data-toggle="modal" data-target="#myModal"
								ng-click="getUser(question.user.index)" />
							</div>
							<div class="col-md-10 col-sm-10 col-xs-10">
								<div>
									<span class="op-name" ng-click="getUser(question.user.index)"
										data-toggle="modal" data-target="#myModal">
										{{ question.user.name }}&nbsp;
									</span>
									<span class="question-phrase">is asking:</span>
								</div>
								<div class="question-topic" ui-sref="question({id: {{question.index}}})">
									{{ question.title }}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 hidden-sm hidden-xs"></div>
				</div>
				<div class="row display-flex">
					<div class="col-md-9 col-sm-5 col-xs-5 comment-section">
						<div class="row display-flex">
							<div class="col-md-2 col-sm-4 hidden-xs question-column">
								<hr class="line">
								<span>asked</span>
							</div>
							<div class="col-md-2 col-sm-4 col-xs-6 more-column">
								<span class="num">3</span>
								<span class="more">more activities</span>
							</div>

							<!--comment template start -->
							<div class="col-md-2 comment-column"
								ng-repeat="comment in question.comments | limitTo: displayedColNum"
								ng-hide="$last">
								<img ng-click="getUser(comment.user.index)" ng-src="{{ comment.user.picture }}"
								data-toggle="modal" data-target="#myModal">
								<hr class="line">
								<span>commented</span>
							</div>
							<!-- comment template end -->

							<div class="col-md-2 col-sm-4 col-xs-6 comment-column answered">
								<img ng-click="getUser(question.comments[question.comments.length-1].user.index)"
								ng-src="{{ question.comments[question.comments.length-1].user.picture }}"
								data-toggle="modal" data-target="#myModal">
								<hr class="line">
								<span>answered</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-7 col-xs-7 question-info">
						<div>1 <span>related discussion</span></div>
						<div>6 <span>peers involved</span></div>
						<div>3 <span>conversations</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-2 hidden-sm hidden-xs"></div>
		</div>
		<!-- question template end-->

		<div class="row">
			<div id="load-more" class="col-md-offset-2 col-md-8">
				load more questions
			</div>
			<div class="col-md-2"></div>
		</div>

	</div>
</div>
