<div ng-controller="UserProfileCtrl" id="user-profile">

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<div>
						<img ng-src="{{ user.picture }}">
					</div>
					<h4 class="modal-title" id="myModalLabel">{{ user.name }}</h4>
					<div class="row profile-info">
						<div class="col-md-4 col-sm-4">
							<span class="grey-text">member for</span>
							<span>5 months</span>
						</div>
						<div class="col-md-4 col-sm-4">
							<span class="grey-text">last seen</span>
							<span>Saturday afternoon</span>
						</div>
						<div class="col-md-4 col-sm-4">
							<span class="grey-text">activity level</span>
							<span>
								<img src="app/assets/img/activity_level_full.png">
								<img src="app/assets/img/activity_level_full.png">
								<img src="app/assets/img/activity_level_empty.png">
							</span>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="all-started">
						<span>
							<img src="app/assets/img/profile_arrow_left.png">
						</span>
						<span>
							How it all started
						</span>
						<span>
							<img src="app/assets/img/profile_arrow_right.png">
						</span>
					</div>
					<div class="grey-text">That's where we have been these 5 months ago</div>
					<div class="blue-rectangles">
						<span>
							<span class="rect-1">
								<span class="num">46</span>
								<span class="text-italic">peers</span>
							</span>
						</span>
						<span>
							<span class="rect-2">
								<span class="num">29</span>
								<span class="text-italic">discussions</span>
							</span>
						</span>
						<span>
							<span class="rect-3">
								<span class="num">19</span>
								<span class="text-italic">findings</span>
							</span>
						</span>
						<span>
							<span class="rect-4">
								<span class="num">10</span>
								<span class="text-italic">questions</span>
							</span>
						</span>
					</div>
					<div class="grey-text">Who joined the platform that same period</div>
					<div class="members">
						<span class="member">
							<span class="picture">
								<img src="app/assets/img/profile-pictures/profile_pic2.png">
							</span>
							<span>S.E.N. Waweru</span>
						</span>
						<span class="member">
							<span class="picture">
								<img src="app/assets/img/profile-pictures/profile_pic3.png">
							</span>
							<span>Patricia</span>
						</span>
						<span class="member">
							<span class="picture">
								<img src="app/assets/img/profile-pictures/profile_pic5.png">
							</span>
							<span>Joseph Aluoch</span>
						</span>
					</div>
					<div class="grey-text">The hottest discussions these days</div>
				</div>
				<div class="modal-footer">
					<div class="hot-picture">
						<img src="app/assets/img/profile-pictures/profile_pic6.png">
					</div>
					<div>
						<span class="blue-text">Andrew</span>
						<span class="grey-text">found the guardian article</span>
					</div>
					<div class="blue-text hot-title">Vegan diet to stop diabetes progress</div>
					<div class="row hot-info">
						<div class="col-md-3 col-sm-3 col-xs-6 info-1">
							<span class="num">6&nbsp;&nbsp;</span>
							<span class="text-italic">peers involved</span>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 info-2">
							<span class="num">3&nbsp;&nbsp;</span>
							<span class="text-italic">related discussion</span>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 info-3">
							<span class="num">3&nbsp;&nbsp;</span>
							<span class="text-italic">conversations</span>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-6 info-4">
							<span class="num">19&nbsp;&nbsp;</span>
							<span class="text-italic">upvotes</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
